
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
  /* background: rgb(231,171,148); */
  background: linear-gradient(90deg, rgba(231,171,148,1) 2%, rgba(155,181,218,1) 93%);
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}


.custom-shape-divider-top-1636227455 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1636227455 svg {
    position: relative;
    display: block;
    width: calc(155% + 1.3px);
    height: 324px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1636227455 .shape-fill {
    fill: white;
}


.containers{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-between;

}

.title{
  font-size: 2rem;
  word-break: break-word;
}

.todos-container{
  background-color: #FFFFFF50;
  width: 26%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 14px 14px 0px #0F304F50;

}

.todo-list{
  
}

.todo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #E6F4F180;
  border-radius: 5px;
  padding: 6px;
}

.todos-container > .todo > div > div> button:not(.dueDate, .status-buttons > button){
  margin: 0px 5px 10px 0px;
  background-color: #bcdedb20;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  color: #5b7eaf;
  border-color: rgb(231,171,148);;
  
  /* color: #E0EEEC; */
}

.dueDate{
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  margin-bottom: 8px;
  width: 100%;
  word-wrap: break-word;

}
.dueDate:hover{
  transform: scale(0.95);
  transition: .01s;

  /* border-bottom: 1px solid #22222280; */

}
.dueDate:active{
  transform: scale(1.05);
  transition: .01s;
}
.description{
  font-size: 25px;
  margin: 10px 0px 15px 0px;
  word-wrap: break-word;
  /* text-overflow: ellipsis; */
  width: 100%;
}

/* .todos-container > .todo > div > div> p{
  font-size: 18px;
  margin: 3px 0px 6px 0px;
} */

.addTodo{
  border: none;
  font-size: 23px;
  background-color: transparent;
  color: #22222290;
  cursor: pointer;

}
.addTodo:hover{
  transform: scale(0.95);
  transition: .05s;
  
}
.addTodo:active{
  transform: scale(1.1);
  transition: .05s;
}

.description{
  margin-right: 5px;
}

.X-button{
  justify-content: flex-end;
  display: inline-block;
  font-size: 19px;
  position: relative;
  top: 1px;
  border: none;
  cursor: pointer;
  background-color:transparent;
}

.info-section{

  width: 90%;
  height: 90%;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: flex-start;
  padding: 20px;

}
#description-input{
  width: 100%;
  height: 40%;
  font-size: 18px;
}

.info-section > label {
  font-size: 23px;
}

.info-section > input {
  font-size: 20px;
  float: right;
  width: 100%;
}

#modal-close-button{
  border: none;

}

.info-section > * {
  margin-top: 2%;
}
/* .info-section */

#modal-close-button{
  align-self: flex-start;
  position: relative;
  left: -3%;
  top: 3%;
  
  /* justify-content: flex-start; */

}

.X-button:hover{
  color: red;
  transition: .01s;
  transform: scale(.9)
}
.X-button:active{
  transition: .01s;
  transform: scale(1.1)

}

.todo-sub{
  width: 100%;
}

.info-section > button {
  background: linear-gradient(90deg, rgba(231,171,148,1) 2%, rgba(155,181,218,1) 93%);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-size: 23px;
  border-color: #408A8480;
  cursor: pointer;
  color: white;
  margin-top: 20px;
  align-self: center;
  width: 100%;

}

.tag-input > input{
  border: none;
  padding: 3px;
  font-size: 20px;
  border-radius: 5px;
  border-bottom: 2px solid #22222240;
  background-color: transparent;
  margin-bottom: 10px;
  width: 100%;
}

.tag-input > input:focus, textarea:focus{
  outline: none;
}

input.dueDate[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}




.change-dueDate-button{

  background: linear-gradient(90deg, rgba(231,171,148,1) 2%, rgba(155,181,218,1) 93%);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  border-color: #408A8480;
  cursor: pointer;
  color: white;
  width: 95%;
  margin-top: 5px;
  margin-left: 2.5%;
}


.change-dueDates-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.description-and-X{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.change-dueDates-container > div {
  position: relative;
  top: 4px;
}

.due-hover-message:hover, .due-hover-message{
  visibility: visible;
}

.done-progress-container{
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.done-progress-container > div > p {
  margin-bottom: 7px;

}

.description-and-X ~ button{
  cursor: pointer;
}


input[type="radio"] {
  -webkit-appearance: checkbox; 
  -moz-appearance: checkbox;    
  -ms-appearance: checkbox;     
}

.status-buttons{
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  margin-top: 10px;
  flex-wrap: wrap;
}

.status-buttons > button{
  background: linear-gradient(90deg, rgba(231,171,148,1) 2%, rgba(155,181,218,1) 93%);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  border-color: #408A8480;
  cursor: pointer;
  color: white;
  width: 95%;
  margin-top: 5px;
}

.status-buttons > button:hover{
  transform: scale(0.95);
  transition: 0.1s;
}

body{
  min-width: 600px;
}
.status-buttons > button:active{
  transform: scale(1.05);
  transition: 0.1s;
}

.title-container{
  display: flex;
  justify-content: space-around;
}
.title-addButton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.todo{
  margin-bottom: 10px;
}
#modal-background{
  /* width: 100vw;
  height: 100vh;
  background-color: #22222290 */

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;

}

.status-x-button{
  display: flex;
  width: 100%;
  margin: 5% 5% 0 8%;
  justify-content: space-between;
}

.status-x-button > div{
  font-size: 30px;
}
.modal-child {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 500px;
	width: 400px;
  background: linear-gradient(90deg, rgba(231,171,148,1) 2%, rgba(155,181,218,1) 93%);
	display: flex;
  flex-direction: column;
  border-radius: 10px;
	justify-content: center;
	align-items: center;

}



